<div class="creation-form-container">
  <form [formGroup]="taskForm" class="form">
    <mat-form-field class="title-form">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        placeholder="Title"
        formControlName="title"
        required
      />
      <mat-hint>Enter task's title</mat-hint>
      <mat-error *ngIf="taskForm.hasError('title') && !taskForm.hasError('required')">
        Please enter the title
      </mat-error>
      <mat-error *ngIf="taskForm.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="content-form">
      <mat-label>Content</mat-label>
      <textarea
        type="text"
        matInput
        placeholder="Content"
        formControlName="content"
        required
      ></textarea>
      <mat-hint>What are you planning ?</mat-hint>
      <mat-error *ngIf="taskForm.hasError('content') && !taskForm.hasError('required')">
        Please fill the content
      </mat-error>
      <mat-error *ngIf="taskForm.hasError('required')">
        Content is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <div class="form-buttons">
    <button
      class="clear-button"
      mat-raised-button
      (click)="resetForm()"
    >
      Clear
    </button>
    <button
      class="add-button"
      mat-raised-button color="accent"
      [disabled]="!taskForm.valid"
      (click)="submitTask()"
    >
      Add
    </button>
  </div>
</div>