<div class="signup-form-container">
  <form [formGroup]="userForm">
    <mat-form-field class="email-form">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
        required
      />
      <mat-hint>Enter your sign up email</mat-hint>
      <mat-error *ngIf="userForm.hasError('email') && !userForm.hasError('required')">
        Please enter your email
      </mat-error>
      <mat-error *ngIf="userForm.hasError('email')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="first-name-form">
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="First Name"
        formControlName="firstName"
        required
      />
      <mat-hint>Enter your first name</mat-hint>
      <mat-error *ngIf="userForm.hasError('firstName') && !userForm.hasError('required')">
        Please enter your first name
      </mat-error>
      <mat-error *ngIf="userForm.hasError('firstName')">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="last-name-form">
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        required
      />
      <mat-hint>Enter your last name</mat-hint>
      <mat-error *ngIf="userForm.hasError('lastName') && !userForm.hasError('required')">
        Please enter your last name
      </mat-error>
      <mat-error *ngIf="userForm.hasError('lastName')">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="signup-form-buttons">
      <button
        type="button"
        class="clear-button"
        mat-stroked-button
        (click)="resetForm()"
      >
        Clear
      </button>
      <button
        type="button"
        class="signup-button"
        mat-stroked-button color="accent"
        [disabled]="!userForm.valid"
        (click)="submitUserData()"
      >
        Sign up
      </button>
    </div>
  </form>
</div>