<div class="task-container">
  <div *ngIf="!modifiable">
    <span>{{task.title}}</span>
    <span>{{task.content}}</span>
  </div>
  <div *ngIf="modifiable">
    <form [formGroup]="taskForm">
      <div>
        <input
          type="text"
          placeholder="Title"
          formControlName="title"
          required
        />
        <input
          type="text"
          placeholder="Content"
          formControlName="content"
          required
        />
      </div>
    </form>
  </div>
  <div>
    <button *ngIf="!modifiable" (click)="modifiable = !modifiable">Modify</button>
    <button *ngIf="modifiable" (click)="modifiable = !modifiable">Cancel</button>
    <button [disabled]="!modifiable" (click)="updateTask()">Update</button>
    <button (click)="removeTask()">Remove</button>
  </div>
</div>