.signin-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;

  .signin-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
  }

  .signin-form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0 0;
  }

  .confirmation-reminder {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
  }
}